<header class="pb-3 mb-4 border-bottom">
  <span class="fs-4 fw-bold">Edit User Profile</span>
</header>


<form [formGroup]="userProfileFormReactive">
  <div class="row mb-4">
    <div class="col d-flex gap-4">
      <button type="button" class="btn btn-primary" (click)="navigateToUserList()">
        Back to list
      </button>
      <!-- Update User Profile -->
      @if (userProfileFormReactive.get('id')?.value) {
        <button type="submit" class="btn btn-primary"
                (click)="updateUserProfile($event)"
                [disabled]="!userProfileFormReactive.valid">
          Save Changes
        </button>
      } @else {
        <button class="btn btn-primary disabled placeholder col-1"
                aria-disabled="true"
                type="button"
        ></button>
      }
    </div>
  </div>

@if (userProfileFormReactive.get('id')?.value) {
  <div class="mb-3">
    <label for="userName" class="form-label">User Name</label>
    <input type="text"
           class="form-control"
           id="userName"
           formControlName="name">
    @let name = userProfileFormReactive.get('name')!;
    @if (name.invalid && (name.dirty || name.touched)) {
      <div class="validation-message invalid">
        @if (name.hasError('required')) {
          <div>Name is required</div>
        }
        @if (name.hasError('maxLength')) {
          <div>Max length is 100</div>
        }
        @if (name.hasError('pattern')) {
          <div>Invalid name</div>
        }
        @if (name.hasError('nameNotUnique')) {
          <div>Name must be unique. This name is already taken</div>
        }
      </div>
    }
  </div>
  <div class="mb-3">
    <label for="primaryEmail" class="form-label">Primary Email</label>
    <input type="email"
           class="form-control"
           id="primaryEmail"
           formControlName="primaryEmail">
    @let primaryEmail = userProfileFormReactive.get('primaryEmail')!;
    @if (primaryEmail.invalid && (primaryEmail.dirty || primaryEmail.touched)) {
      <div class="validation-message invalid">
        @if (primaryEmail.hasError('required')) {
          <div>Primary Email is required</div>
        }
        @if (primaryEmail.hasError('email')) {
          <div>Please enter valid email address</div>
        }
      </div>
    }
  </div>

  @for (additionalEmail of additionalEmails.controls; track $index) {
    <div class="mb-3">
      @if ($index === 0) {
        <label for="additionalEmail0" class="form-label">Additional Email</label>
      }
      <div class="input-group">
        <input type="email"
               class="form-control"
               placeholder="Additional Email"
               aria-label="Additional Email"
               [id]="'additionalEmail'+ $index"
               [formControl]="additionalEmail">
        <button class="btn btn-outline-secondary"
                type="button"
                (click)="removeAdditionalEmail($index)"
        >Remove</button>
      </div>

      @if (additionalEmail.invalid && (additionalEmail.dirty || additionalEmail.touched)) {
        <div class="validation-message invalid">
          @if (additionalEmail.hasError('email')) {
            <div>Please enter valid email address</div>
          }
        </div>
      }
    </div>
  }

    <button class="btn btn-primary mb-3"
            type="button"
            title="Add new Email"
            aria-label="Add new Email"
            (click)="addAdditionalEmail()"
    >+ Add Email</button>
} @else {
  <div class="placeholder-glow">
    <p class="placeholder col-1 placeholder-label"></p>
  </div>
  <div class="placeholder-glow">
    <p class="placeholder col-8 placeholder-input"></p>
  </div>
  <div class="placeholder-glow">
    <p class="placeholder col-1 placeholder-label"></p>
  </div>
  <div class="placeholder-glow">
    <p class="placeholder col-8 placeholder-input"></p>
  </div><div class="placeholder-glow">
    <p class="placeholder col-1 placeholder-label"></p>
  </div>
  <div class="placeholder-glow">
    <p class="placeholder col-8 placeholder-input"></p>
  </div>
  <button class="btn btn-primary disabled placeholder col-2"
          aria-disabled="true"
          type="button"
  ></button>
}
</form>

<ng-template #confirmTemplate>
  <div class="modal-body text-center">
    <p>Do you want to discard unsaved changes?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>
